div#player {
  width: 20px;
  height: 20px;
  border-radius: 25%;
  background: red;
  transition: all 0.3s ease-out 0s;
  position: absolute;
  top: 0px;
  left: 0px;
}

#playerArea {
  width: 500px;
  height: 500px;
  background: grey;
  border: 5px solid black;
  box-sizing: border-box;
}

.bullet {
  width: 4px;
  height: 4px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
}