html, body {
  height: 100%;
  overflow: hidden; 
}

.wrapper {
  width: 100%;
  height: 100%;
  border: 40px solid white;
  border-image: url(images/bg.jpg) 40 round;
  box-sizing: border-box;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#playerArea {
  width: 350px;
  height: 100%;
  border: 1px solid grey;
  box-sizing: border-box;
}

#targetArea {
  width: 400px;
  height: 75%;
  box-sizing: border-box;
  margin-right: 35px;
}

#player {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url(images/death-star.png);
  background-size: contain;
  transition: all 0.3s ease-out 0s;
  position: absolute;
  top: 0px;
  left: 0px;
}

#target {
  width: 75px;
  height: 50px;
  border-radius: 50%;
  background-image: url(images/han-solo-ship.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.bullet {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: red;
  position: absolute;
}
